@mixin font-size-weight-lh( $family, $size: 1rem, $weight: normal, $lh: normal){
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    line-height: $lh;
}

@mixin transform-scale($scale){
    -webkit-transform: scale($scale);
    transform: scale($scale);
}
@mixin z-index($index){
    @extend %pos-absolute;
    z-index: $index;
}

@mixin flex-fd-w-ac-jc-ai($flex: flex, $fd:row, $w: nowrap, $ac: normal, $jc: normal, $ai: normal){
    display: $flex;
    flex-direction: $fd;
    flex-wrap: $w;
    align-content: $ac;
    justify-content: $jc;
    align-items: $ai;
}

@mixin box-sizing($box-model : border-box) {
    -webkit-box-sizing: $box-model; // Safari <= 5
       -moz-box-sizing: $box-model; // Firefox <= 19
            box-sizing: $box-model;
  }